.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  border: 1px solid rgb(145, 143, 143);
  border-radius: 5%;
}
